@media only screen and (max-width: 790px){
    .hero{
        grid-template-columns: auto;
        grid-row-gap: 50px;
    }
    .second-hero{
        display: flex;
        flex-direction: column-reverse;
    }
    .single-design {
        padding-top: 40px;
    }
}